// KOLORY
$color-primary: #c78d6d;
$color-secondary: #07575b;
$color-tertiary: #66a5ad;
$color-four: #f7efe2;

$color-font: #292929;

$color-body: #f2f2f2;
$color-body-dark: #e1e1e1;
$color-body-light:#efeff0;

$color-grey-light: #c5c5c5;
$color-grey-dark: #2c2c2c;
$color-black: #232323;

// CZCIONKI
$default-font-size: 1.6rem;
